<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body ng-app>
    <input type="text" ng-model="query" />
    <select ng-model="order">
        <option value="username">Organisation par nom</option>
        <option value="content">Organisation par contenu</option>
    </select>
    
    <div ng-controller="CommentsCtrl">
        
        <div ng-repeat="comment in comments | filter:{content:query} | orderBy: order">
            <p>
                <strong>{{comment.username}}</strong><br />
                {{comment.content}}
            </p>
        </div>
        

    <!-- Petite calculatrice -->
    <!-- <input type="text" ng-model="nbre1" />
    <input type="text" ng-model="nbre2" />  

    {{"Somme : " + (nbre1 * 1 + nbre2 * 1 )}} -->



    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script>
        function CommentsCtrl($scope){
            console.log($scope)
            $scope.comments = [
  {
    "username": "Harrell",
    "city": "Duryea",
    "email": "harrellbeck@centregy.com",
    "content": "+1 Ad occaecat eu cillum culpa cillum cupidatat esse nostrud irure excepteur labore."
  },
  {
    "username": "Tania",
    "city": "Ellerslie",
    "email": "taniabeck@centregy.com",
    "content": "+1 Sunt deserunt consequat quis minim sit exercitation eiusmod enim cupidatat in consectetur eiusmod."
  },
  {
    "username": "Concepcion",
    "city": "Imperial",
    "email": "concepcionbeck@centregy.com",
    "content": "+1 Non ex quis do sunt magna ipsum do qui exercitation ea consectetur mollit in."
  },
  {
    "username": "Maynard",
    "city": "Fruitdale",
    "email": "maynardbeck@centregy.com",
    "content": "+1 Minim adipisicing reprehenderit consequat irure adipisicing laborum id nulla sint voluptate nulla sint aute minim."
  },
  {
    "username": "Helga",
    "city": "Taycheedah",
    "email": "helgabeck@centregy.com",
    "content": "+1 Ipsum et enim Lorem cillum irure irure."
  }
];
        }
    </script>
</body>
</html>